<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div *ngIf="loading" class="alert alert-warning col-md-12">
        Loading...
      </div>
      <div
        *ngIf="!loading && cartItems.length < 1; else displayProducts"
        class="alert alert-warning col-md-12"
        role="alert"
      >
        Your cart is empty.
      </div>
      <ng-template #displayProducts>
        <table class="table table-bordered">
          <tr>
            <th width="20%">Cart Item</th>
            <th width="50%">Cart Item Details</th>
            <th width="30%"></th>
          </tr>
          <tr *ngFor="let cartItem of cartItems; let i = index">
            <td>
              <img
                [src]="cartItem.imageUrl"
                [alt]="cartItem.name"
                class="img-responsive"
                width="150px"
              />
            </td>
            <td>
              <p>{{ cartItem.name }}</p>
              <p>{{ cartItem.unitPrice | currency : "USD" }} each</p>
            </td>
            <td>
              <div class="items">
                <label>Quantity:</label>
                <div class="row no-gutters">
                  <div class="col">
                    <button
                      type="button"
                      class="btn btn-primary btn-sm"
                      (click)="incrementQuantity(cartItem)"
                    >
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <div class="col ml-4 mr-2">
                    {{ cartItem.quantity }}
                  </div>
                  <div class="col">
                    <button
                      type="button"
                      class="btn btn-primary btn-sm"
                      (click)="decrementQuantity(cartItem)"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                  <div class="col">
                    <button
                      type="button"
                      class="btn btn-secondary btn-sm"
                      (click)="removeFromCart(cartItem)"
                    >
                      X
                    </button>
                  </div>
                </div>
              </div>
              <p class="mt-2">
                Subtotal:
                {{ cartItem.quantity * cartItem.unitPrice | currency : "USD" }}
              </p>
            </td>
          </tr>
        </table>
        <hr />
        <p class="d-flex justify-content-end">
          Total Item Count: {{ totalItems }}
        </p>
        <p class="d-flex justify-content-end">
          Shipping:
          {{ shippingFee ? (shippingFee | currency : "USD") : "Free Shipping" }}
        </p>
        <p class="d-flex justify-content-end">
          Grand Total: {{ totalPrice + shippingFee | currency : "USD" }}
        </p>
        <div class="container-fluid mt-2 d-flex justify-content-end">
          <button [routerLink]="['/checkout']" class="btn btn-primary">
            Checkout
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
