<div class="main-content">
  <h3>Exclusive member benefits for you, for ever:</h3>
  <br />
  <div align="center" class="alert alert-warning col-md-12" role="alert">
    <h4>
      🚢 - Free shipping every transaction
      <em>(no min spend!)</em>
    </h4>
  </div>
  <div align="center" class="alert alert-warning col-md-12" role="alert">
    <h4>
      🍀 - Weekly random draw 🚗
      <em
        >(Lucky winners will be notified through email every Sunday noon, don't
        forget your junk folder!)</em
      >
    </h4>
    <br />
    <h5>Next draw on 29 Jul: 😱😱</h5>
    <img src="assets/images/promo.png" alt="car" class="img-responsive" />
  </div>
  <div align="center" class="alert alert-warning col-md-12" role="alert">
    <h4>- And even more privileges coming soon!! ✈️</h4>
  </div>
</div>
