<div class="backdrop">
  <div class="alert-box">
    <div id="product">
      <img
        src="https://awj90.sgp1.digitaloceanspaces.com/{{
          selectedProduct.id
        }}.png"
      />
    </div>
    <video #videoFeed autoplay muted></video>
    <br />
    <button class="btn btn-primary btn-sm" (click)="startVideo()">
      Start video
    </button>
    &nbsp;
    <button class="btn btn-danger btn-sm" (click)="stopVideo()">
      Stop video
    </button>
    &nbsp;
    <button class="btn btn-success btn-sm" (click)="addToCart()">
      Add to cart
    </button>
    &nbsp;
    <button class="btn btn-info btn-sm" (click)="onClose()">Back</button>
  </div>
</div>
